@import "global";
@import "header";
@import "footer";

main {
	.not-found-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
		padding: 8.11vh 4.83vw 11.33vh;

		.left {
			float: left;

			h2 {
				padding-bottom: 2.66vh;
				font-style: normal;
				font-weight: bold;
				font-size: 4.44vh;
				line-height: 130%;
				color: #000000;
			}

			p {
				font-style: normal;
				font-weight: normal;
				font-size: 2vh;
				line-height: 160%;
				color: #000000;
				white-space: pre-line;

				a {
					color: #FF0000;
					text-decoration: none;

					&:visited, &hover {
						text-decoration: none;
					}
				}
			}
		}

		.right {
			img {
				width: 48.46vw;
			}
		}
	}
}