@import "global";
@import "header";
@import "footer";


main {
	.article-container {
		width: 100%;
		margin: 0 auto;
		margin-top: 7.22vh;
		padding: 0 12.58vw;

		@media screen and (max-width: $mobile) {
			margin-top: 4.8vh;
			padding: 0;
		}

		.goback-container {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			@media screen and (max-width: $mobile) {
				padding: 0 6.4vw;
			}

			a {
				padding-left: 1.29vw;
				font-style: normal;
				font-weight: bold;
				font-size: 1.55vh;
				color: #000000;
				text-decoration: none;
				text-transform: uppercase;

				&:visited, &:focus {
					color: #000000;
				}

				@media screen and (max-width: $mobile) {
					padding-left: 4.26vw;
					font-size: 2vh;
				}
			}

			img {
				height: 1vh;

				@media screen and (max-width: $mobile) {
					height: 1.35vh;
				}
			}
		}

		.article {
			margin-top: 4.44vh;
			margin-bottom: 14.44vh;

			@media screen and (max-width: $mobile) {
				margin-top: 6vh;
				margin-bottom: 18vh;
			}

			.article-header {
				border-bottom: 1px solid #D2D2D2;

				@media screen and (max-width: $mobile) {
					border: 0;
				}

				h1 {
					max-width: 100%;
					margin-bottom: 4.44vh;
					font-style: normal;
					font-weight: bold;
					font-size: 5.33vh;
					line-height: 130%;
					color: #000000;

					@media screen and (max-width: $mobile) {
						margin-bottom: 4.8vh;
						padding: 0 4.26vw 0 6.4vw;
						font-size: 6vh;
					}
				}

				.article-author {
					display: flex;
					height: 7.11vh;
					margin-top: 6.22vh;
					margin-bottom: 3.55vh;

					@media screen and (max-width: $mobile) {
						align-items: center;
						justify-content: space-between;
						height: auto;
						margin: 3.6vh 6.4vw 0;
						padding-bottom: 3.6vh;
						border-bottom: 1px solid #D2D2D2;
					}

					img {
						width: 7.11vh;
						height: 7.11vh;
						border-radius: 50%;

						@media screen and (max-width: $mobile) {
							width: 17vw;
							height: 17vw;
						}
					}

					.article-data {
						display: flex;
						align-items: center;
						margin-left: 1.53vw;
						padding: 1vh 0;

						@media screen and (max-width: $mobile) {
							flex-direction: column;
							align-items: flex-start;
						}

						.article-author-data {
							display: flex;
							flex-direction: column;
							justify-content: space-between;

							.article-author-name {
								font-style: normal;
								font-weight: bold;
								font-size: 1.55vh;
								line-height: 160%;
								color: #000000;
								text-transform: uppercase;

								@media screen and (max-width: $mobile) {
									font-size: 2vh;
								}
							}

							.article-author-state {
								font-style: normal;
								font-weight: normal;
								font-size: 1.55vh;
								line-height: 160%;
								color: #000000;

								@media screen and (max-width: $mobile) {
									font-size: 2vh;
								}
							}
						}

						.article-date-container {
							display: flex;
							align-items: flex-end;
							height: 100%;
							margin-left: 1.77vh;

							@media screen and (max-width: $mobile) {
								display: block;
								margin-left: 0;
							}
							
							.article-date {
								font-style: normal;
								font-weight: normal;
								font-size: 1.55vh;
								line-height: 160%;
								color: #000000;	
								
								@media screen and (max-width: $mobile) {
									font-size: 2vh;
								}
							}
						}
					}
				}
			}

			.article-img {
				box-shadow: 0px 16px 64px rgba(0, 0, 0, .04);
			}

			.img-big {
				max-width: 100%;
			}

			.article-body {
				width: 100%;
				margin-top: 5.44vh;

				@media screen and (max-width: $mobile) {
					margin-top: 6vh;
				}

				p {
					padding-bottom: 5.44vh;
					font-style: normal;
					font-weight: normal;
					font-size: 2vh;
					line-height: 190%;
					color: #000000;

					@media screen and (max-width: $mobile) {
						padding: 0 6.4vw;
						padding-bottom: 6vh;
						font-size: 2.4vh;
					}
				}

				.marked {
					background: #F0F0F0;
				}

				h2 {
					width: 100%;
					padding-bottom: 3.55vh;

					font-style: normal;
					font-weight: bold;
					font-size: 3.55vh;
					line-height: 130%;
					color: #000000;

					@media screen and (max-width: $mobile) {
						padding: 0 6.4vw;
						padding-bottom: 4.8vh;
						font-size: 3.6vh;
					}
				}

				.img-big {
					margin-bottom: 7.11vh;

					@media screen and (max-width: $mobile) {
						margin-bottom: 6vh;
					}
				}

				h3 {
					padding-bottom: 2.66vh;
					font-style: normal;
					font-weight: bold;
					font-size: 2.22vh;
					line-height: 130%;
					color: #000000;

					@media screen and (max-width: $mobile) {
						padding: 0 6.4vw;
						padding-bottom: 2.4vh;
						font-size: 2.7vh;
					}
				}

				ul {
					margin-bottom: 6.22vh;
					margin-left: 1.29vw;
					list-style-image: url("../img/article/ul_marker.svg");

					@media screen and (max-width: $mobile) {
						margin: 0;
						padding: 0 2.4vw 4.8vh 10.66vw;
					}
				}

				ol {
					margin-bottom: 6.22vh;
					margin-left: 1vw;
					counter-reset: point;

					@media screen and (max-width: $mobile) {
						margin: 0;
						padding: 0 2.4vw 4.8vh 10.66vw;
					}

					li {
						counter-increment: point 1;

						&::marker {
							content: counter(point); 
							font-style: normal;
							font-weight: bold;
							font-size: 2vh;
							line-height: 160%;
							font-feature-settings: "pnum" on, "lnum" on;
							color: #FF0000;

							@media screen and (max-width: $mobile) {
								font-size: 2.4vh;
							}
						}
					}
				}

				li {
					padding-top: .33vh;
					padding-bottom: .33vh;
					padding-left: .8vw;
					font-style: normal;
					font-weight: normal;
					font-size: 1.77vh;
					line-height: 190%;
					color: #000000;

					@media screen and (max-width: $mobile) {
						padding-top: .5vh;
						padding-bottom: .5vh;
						padding-left: 2.3vw;
						font-size: 2vh;
					}
				}

				blockquote {
					margin-bottom: 8.88vh;
					padding-left: 2.17vw;
					border-left: 3px solid #FF0000;

					font-style: normal;
					font-weight: bold;
					font-size: 2.22vh;
					line-height: 160%;
					font-feature-settings: "pnum" on, "lnum" on;
					color: #000000;

					@media screen and (max-width: $mobile) {
						margin-bottom: 7.2vh;
						margin-left: 4.26vw;
						padding: 0 6.4vw 0 4.5vw;
						font-size: 2.4vh;
					}
				}

				.img-medium-container {
					display: flex;
					justify-content: space-between;
					margin-bottom: 5.55vh;

					@media screen and (max-width: $mobile) {
						flex-direction: column;
						row-gap: 2.4vh;
						align-items: center;
						margin-bottom: 7.2vh;
						
					}

					img {
						width: 48%;

						@media screen and (max-width: $mobile) {
							width: 87.2vw;
						}
					}
				}
			}
		}
	}
}