@import "global";
@import "header";
@import "footer";


main {
	.article-container {
		width: 1240px;
		margin: 0 auto;
		margin-top: 65px;
		padding: 0 156px;

		.goback-container {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			a {
				padding-left: 16px;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 160%;
				color: #000000;
				text-decoration: none;
				text-transform: uppercase;

				&:visited, &:focus {
					color: #000000;
				}
			}
		}

		.article {
			margin-top: 40px;
			margin-bottom: 80px;

			.article-header {
				border-bottom: 1px solid #D2D2D2;
				h1 {
					max-width: 100%;
					margin-bottom: 40px;
					font-style: normal;
					font-weight: bold;
					font-size: 48px;
					line-height: 130%;
					color: #000000;
				}

				.article-author {
					display: flex;
					height: 64px;
					margin-top: 56px;
					margin-bottom: 32px;

					img {
						width: 64px;
						height: 64px;
						border-radius: 50%;
					}

					.article-data {
						display: flex;
						align-items: center;
						margin-left: 19px;
						padding: 9px 0;

						.article-author-data {
							display: flex;
							flex-direction: column;
							justify-content: space-between;

							.article-author-name {
								font-style: normal;
								font-weight: bold;
								font-size: 14px;
								line-height: 160%;
								color: #000000;
								text-transform: uppercase;
							}

							.article-author-state {
								font-style: normal;
								font-weight: normal;
								font-size: 14px;
								line-height: 160%;
								color: #000000;
							}
						}

						.article-date-container {
							display: flex;
							align-items: flex-end;
							height: 100%;
							margin-left: 22px;
							
							.article-date {
								font-style: normal;
								font-weight: normal;
								font-size: 14px;
								line-height: 160%;
								color: #000000;								
							}
						}
					}
				}
			}

			.article-img {
				box-shadow: 0px 16px 64px rgba(0, 0, 0, .04);
			}

			.img-big {
				max-width: 100%;
			}

			.article-body {
				width: 100%;
				margin-top: 49px;

				p {
					padding-bottom: 48px;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 190%;
					color: #000000;
				}

				.marked {
					background: #F0F0F0;
				}

				h2 {
					width: 100%;
					padding-bottom: 32px;

					font-style: normal;
					font-weight: bold;
					font-size: 32px;
					line-height: 130%;
					color: #000000;
				}

				.img-big {
					margin-bottom: 64px;
				}

				h3 {
					padding-bottom: 24px;
					font-style: normal;
					font-weight: bold;
					font-size: 20px;
					line-height: 130%;
					color: #000000;
				}

				ul {
					margin-bottom: 56px;
					margin-left: 16px;
					list-style-image: url("../img/article/ul_marker.svg");
				}

				ol {
					margin-bottom: 56px;
					margin-left: 13px;
					counter-reset: point;

					li {
						counter-increment: point 1;

						&::marker {
							content: counter(point); 
							font-style: normal;
							font-weight: bold;
							font-size: 18px;
							line-height: 160%;
							font-feature-settings: "pnum" on, "lnum" on;
							color: #FF0000;
						}
					}
				}

				li {
					padding-top: 3px;
					padding-bottom: 3px;
					padding-left: 10px;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 190%;
					color: #000000;
				}

				blockquote {
					margin-bottom: 80px;
					padding-left: 27px;
					border-left: 3px solid #FF0000;

					font-style: normal;
					font-weight: bold;
					font-size: 20px;
					line-height: 160%;
					font-feature-settings: "pnum" on, "lnum" on;
					color: #000000;
				}

				.img-medium-container {
					display: flex;
					justify-content: space-between;
					margin-bottom: 50px;
				}
			}
		}
	}
}