@import "global";
@import "header";
@import "footer";

header {
	.search-header-container {
		box-shadow: none;
	}
}

main {
	width: 100%;
	margin: 0 auto;
	background: #F4F4F4;

	.contragents-header {
		display: flex;
		width: 100%;
		background: #FFFFFF;

		.left {
			padding: 0 4.83vw;

			h1 {
				padding-top: 10.33vh;
				font-style: normal;
				font-weight: bold;
				font-size: 6.66vh;
				line-height: 130%;
				color: #000000;
				text-transform: uppercase;
			}

			p {
				padding-top: 4.22vh;
				font-style: normal;
				font-weight: bold;
				font-size: 2.22vh;
				line-height: 160%;
				color: #000000;
				text-transform: uppercase;
			}
		}

		
	}

	.contragents-container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		row-gap: 5.33vh;
		padding: 12.22vh 4.83vw 14.4vh;	
		column-gap: 2.58vw;
	}
}