@import "global";
@import "header";
@import "footer";

header {
	.search-header-container {
		box-shadow: none;
	}
}

main {
	width: 100%;
	margin: 0 auto;
	background: #F4F4F4;

	.contragents-header {
		display: flex;
		width: 100%;
		background: #FFFFFF;

		@media screen and (max-width: $mobile) {
			flex-direction: column;
		}

		.left {
			padding: 0 4.83vw;

			@media screen and (max-width: $mobile) {
				padding: 0 6.4vw;
			}

			h1 {
				padding-top: 10.33vh;
				font-style: normal;
				font-weight: bold;
				font-size: 6.66vh;
				line-height: 130%;
				color: #000000;
				text-transform: uppercase;

				@media screen and (max-width: $mobile) {
					padding-top: 9.6vh;
					padding-bottom: 7.2vh;
					font-size: 7.2vh;
				}
			}

			p {
				padding-top: 4.22vh;
				font-style: normal;
				font-weight: bold;
				font-size: 2.22vh;
				line-height: 160%;
				color: #000000;
				text-transform: uppercase;

				@media screen and (max-width: $mobile) {
					display: none;
				}
			}
		}

		img {
			width: 100%;
		}
	}

	.contragents-container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		row-gap: 5.33vh;
		padding: 12.22vh 4.83vw 14.4vh;	
		column-gap: 2.58vw;

		@media screen and (max-width: $mobile) {
			grid-template-columns: repeat(2, 41.6vw);
			row-gap: 4.8vh;
			justify-content: space-between;
			padding: 8.4vh 6.4vw 18vh;
			column-gap: unset;
		}

		@media screen and (max-width: $mobile) {
			.contragent {
				width: 41.6vw;
			}

			.contragent-image {
				width: 41.6vw;
				height: 41.6vw;
			}

			.contragent-name {
				padding-top: 1.8vh;
				font-size: 2vh;
			}
		}
	}
}