@import "global";
@import "header";
@import "footer";

header {
	.search-header-container {
		box-shadow: none;
	}
}

main {
	width: 100%;
	margin: 0 auto;
	background: #F4F4F4;

	.contacts-container {
		h1 {
			padding-top: 10.33vh;
			padding-left: 4.83vw;
			font-style: normal;
			font-weight: bold;
			font-size: 6.33vh;
			line-height: 130%;
			color: #000000;
			text-transform: uppercase;

			@media screen and (max-width: $mobile) {
				padding-top: 9.6vh;
				padding-left: 6.4vw;
				font-size: 7.2vh;
			}
		}

		.contacts-data {
			display: flex;
			justify-content: space-between;
			margin-top: 7.11vh;
			padding: 0 4.83vw;

			@media screen and (max-width: $mobile) {
				flex-direction: column;
				row-gap: 7.65vh;
				margin-top: 7.2vh;
				padding: 0 6.4vw;
			}

			.contact-item {
				display: flex;
				align-items: center;

				img {
					margin-right: 1.29vw;

					@media screen and (max-width: $mobile) {
						margin-right: 4.26vw;
					}
				}

				a, p {
					font-style: normal;
					font-weight: normal;
					font-size: 2vh;
					line-height: 160%;
					color: #000000;
					text-decoration: none;
				}

				a:visited, a:focus {
					color: #000000;
				}
			}

			#contact-address {
				p {
					max-width: 25vw;

					@media screen and (max-width: $mobile) {
						max-width: 100%;
					}
				}
			}
		}

		.map-form-container {
			display: flex;
			width: 100%;
			min-height: 77.33vh;
			margin-top: 4.44vh;

			@media screen and (max-width: $mobile) {
				flex-direction: column;
				min-height: unset;
				margin-top: 9.6vh;
			}

			#map {
				width: 66.77vw;
				height: 100%;
				min-height: 77.33vh;

				@media screen and (max-width: $mobile) {
					width: 100%;
					min-height: 66vh;
				}
			}

			form {
				position: relative;
				width: calc(100% - 66.77vw);
				min-height: 77.33vh;
				background: #FFFFFF;

				@media screen and (max-width: $mobile) {
					width: 100%;
					min-height: 104.3vh;
				}

				h5 {
					padding: 6.22vh 2.98vw 3.55vh;
					font-style: normal;
					font-weight: bold;
					font-size: 2.77vh;
					line-height: 130%;
					color: #000000;

					@media screen and (max-width: $mobile) {
						padding: 8.4vh 6.4vw 4.8vh;
						font-size: 3.75vh;
					}
				}

				.input-container {
					width: 25.8vw;
					margin: 0 4.83vw 2.66vh 2.58vw;
					padding-bottom: .88vh;
					border-bottom: 1px solid #D2D2D2;

					@media screen and (max-width: $mobile) {
						width: 87.2vw;
						margin: 0 auto;
						margin-bottom: 3.6vh;
						padding-bottom: 1.2vh;
					}

					input {
						font-style: normal;
						font-weight: normal;
						font-size: 1.77vh;
						line-height: 160%;
						border: 0;
						color: #000000;

						@media screen and (max-width: $mobile) {
							font-size: 2.4vh;
						}

						&:focus {
							outline: none;
						}
					}
				}

				.comment-header {
					padding: 0 4.83vw 0 2.58vw;
					font-style: normal;
					font-weight: normal;
					font-size: 1.77vh;
					line-height: 160%;
					color: #000000;

					@media screen and (max-width: $mobile) {
						padding: 0 6.4vw;
						font-size: 2.4vh;
					}
				}

				textarea {
					width: 25.8vw;
					height: 18.88vh;
					margin: .88vh 0 2.66vh 2.58vw;
					padding: .33vh .4vw;
					border: 1px solid #D2D2D2;
					border-radius: 0;

					font-style: normal;
					font-weight: normal;
					font-size: 1.77vh;
					line-height: 160%;
					color: #000000;
					resize: none;

					@media screen and (max-width: $mobile) {
						width: 87.2vw;
						height: 25.49vh;
						margin: 1.2vh 0 3.6vh 6.4vw;
						padding: 1vh 2vw;
						font-size: 2.4vh;
					}

					&:focus {
						outline: none;
					}
				}
				
				.warning {
					padding: 0 8.06vw 0 2.66vw;
					font-style: normal;
					font-weight: normal;
					font-size: 1.55vh;
					line-height: 160%;
					color: #737373;

					@media screen and (max-width: $mobile) {
						padding: 0 6.4vw;
						font-size: 2vh;
					}
				}

				button {
					position: absolute;
					bottom: 0;
					width: 100%;
					min-height: 7.11vh;
					border: 0;
					border-radius: 0;
					background: #FF0000;

					font-style: normal;
					font-weight: bold;
					font-size: 2.22vh;
					line-height: 160%;
					color: #FFFFFF;
					text-transform: uppercase;
					cursor: pointer;

					@media screen and (max-width: $mobile) {
						min-height: 9.6vh;
						font-size: 3vh;
					}
				}
			}
		}
	}
}