@import "global";
@import "header";
@import "footer";

header {
	.search-header-container {
		box-shadow: none;
	}
}

main {
	width: 100%;
	margin: 0 auto;
	background: #F4F4F4;

	.contacts-container {
		h1 {
			padding-top: 10.33vh;
			padding-left: 4.83vw;
			font-style: normal;
			font-weight: bold;
			font-size: 6.33vh;
			line-height: 130%;
			color: #000000;
			text-transform: uppercase;
		}

		.contacts-data {
			display: flex;
			justify-content: space-between;
			margin-top: 7.11vh;
			padding: 0 4.83vw;

			.contact-item {
				display: flex;
				align-items: center;

				img {
					margin-right: 1.29vw;
				}

				a, p {
					font-style: normal;
					font-weight: normal;
					font-size: 2vh;
					line-height: 160%;
					color: #000000;
					text-decoration: none;
				}

				a:visited, a:focus {
					color: #000000;
				}
			}

			#contact-address {
				p {
					max-width: 25vw;
				}
			}
		}

		.map-form-container {
			display: flex;
			width: 100%;
			min-height: 77.33vh;
			margin-top: 4.44vh;

			#map {
				width: 66.77vw;
				height: 100%;
				min-height: 77.33vh;
			}

			form {
				position: relative;
				width: calc(100% - 66.77vw);
				min-height: 77.33vh;
				background: #FFFFFF;

				h5 {
					padding: 6.22vh 2.98vw 3.55vh;
					font-style: normal;
					font-weight: bold;
					font-size: 25px;
					line-height: 130%;
					color: #000000;
				}

				.input-container {
					width: 25.8vw;
					margin: 0 4.83vw 2.66vh 2.58vw;
					padding-bottom: .88vh;
					border-bottom: 1px solid #D2D2D2;

					input {
						font-style: normal;
						font-weight: normal;
						font-size: 1.77vh;
						line-height: 160%;
						border: 0;
						color: #000000;

						&:focus {
							outline: none;
						}
					}
				}

				.comment-header {
					padding: 0 4.83vw 0 2.58vw;
					font-style: normal;
					font-weight: normal;
					font-size: 1.77vh;
					line-height: 160%;
					color: #000000;
				}

				textarea {
					width: 25.8vw;
					height: 18.88vh;
					margin: .88vh 4.83vw 2.66vh 2.58vw;
					padding: .33vh .4vw;
					border: 1px solid #D2D2D2;

					font-style: normal;
					font-weight: normal;
					font-size: 1.77vh;
					line-height: 160%;
					color: #000000;
					resize: none;

					&:focus {
						outline: none;
					}
				}
				
				.warning {
					padding: 0 8.06vw 0 2.66vw;
					font-style: normal;
					font-weight: normal;
					font-size: 1.55vh;
					line-height: 160%;
					color: #737373;
				}

				button {
					position: absolute;
					bottom: 0;
					width: 100%;
					min-height: 7.11vh;
					border: 0;
					border-radius: 0;
					background: #FF0000;

					font-style: normal;
					font-weight: bold;
					font-size: 2.22vh;
					line-height: 160%;
					color: #FFFFFF;
					text-transform: uppercase;
					cursor: pointer;
				}
			}
		}
	}
}