
footer {
	.footer-container {
		width: 100%;
		background: #202020;

		.footer {
			display: flex;
			justify-content: space-between;
			width: 100%;
			min-height: 36vh;
			margin: 0 auto;
			padding: 0 4.83vw;

			.footer-menu {
				width: 33%;
				margin-top: 8.33vh;
				list-style-type: none;

				li {
					padding-bottom: 2.11vh;
					font-style: normal;
					font-weight: bold;
					font-size: 1.55vh;
					line-height: 160%;
					color: #FFFFFF;
					text-transform: uppercase;

					a {
						color: #FFFFFF;
						text-decoration: none;
					}
				}
			}

			.center-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 8.33vh;
				
				.btn {
					width: 24.19vh;
					margin-bottom: 3.77vh;
				}

				.phone {
					font-style: normal;
					font-weight: bold;
					font-size: 3.55vh;
					line-height: 130%;
					color: #FFFFFF;
				}
			}

			.address-container {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				width: 33%;
				margin-top: 8.33vh;

				.email {
					padding-bottom: 3vh;
					font-style: normal;
					font-weight: normal;
					font-size: 2vh;
					line-height: 160%;
					color: #FF0000;
					text-align: right;
					text-decoration: none;

					&:visited, &:focus {
						color: #FF0000;
					}
				}

				.address {
					font-style: normal;
					font-weight: normal;
					font-size: 2vh;
					line-height: 160%;
					color: #FFFFFF;
					text-align: right;
				}
			}
		}
	}
}