
footer {
	.footer-container {
		width: 100%;
		background: #202020;

		.footer {
			display: flex;
			justify-content: space-between;
			width: 100%;
			min-height: 36vh;
			margin: 0 auto;
			padding: 0 4.83vw;

			@media screen and (max-width: $mobile) {
				display: none;
			}

			.footer-menu {
				width: 33%;
				margin-top: 8.33vh;
				list-style-type: none;

				li {
					padding-bottom: 2.11vh;
					font-style: normal;
					font-weight: bold;
					font-size: 1.55vh;
					line-height: 160%;
					color: #FFFFFF;
					text-transform: uppercase;

					a {
						color: #FFFFFF;
						text-decoration: none;
					}
				}
			}

			.center-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 8.33vh;
				
				.btn {
					width: 24.19vw;
					margin-bottom: 3.77vh;
				}

				.phone {
					font-style: normal;
					font-weight: bold;
					font-size: 3.55vh;
					line-height: 130%;
					color: #FFFFFF;
					text-decoration: none;

					&:focus, &:visited {
						color: #FFFFFF;
					}
				}
			}

			.address-container {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				width: 33%;
				margin-top: 8.33vh;

				.email {
					padding-bottom: 3vh;
					font-style: normal;
					font-weight: normal;
					font-size: 2vh;
					line-height: 160%;
					color: #FF0000;
					text-align: right;
					text-decoration: none;

					&:visited, &:focus {
						color: #FF0000;
					}
				}

				.address {
					font-style: normal;
					font-weight: normal;
					font-size: 2vh;
					line-height: 160%;
					color: #FFFFFF;
					text-align: right;
				}
			}
		}

		.footer-mobile {
			display: none;
			padding: 9.6vh 6.4vw 13.5vh;

			@media screen and (max-width: $mobile) {
				display: block;
			}

			.center-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 7.2vh;
				
				.btn {
					margin-bottom: 3.6vh;
				}

				.phone {
					font-style: normal;
					font-weight: bold;
					font-size: 4vh;
					line-height: 130%;
					color: #FFFFFF;
					text-decoration: none;

					&:focus, &:visited {
						color: #FFFFFF;
					}
				}
			}

			.footer-menu {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				row-gap: 3.6vh;
				width: 74vw;
				list-style-type: none;

				li {
					font-style: normal;
					font-weight: bold;
					font-size: 1.55vh;
					line-height: 160%;
					color: #FFFFFF;
					text-transform: uppercase;

					@media screen and (max-width: $mobile) {
						font-size: 2vh;
					}

					a {
						color: #FFFFFF;
						text-decoration: none;
					}
				}
			}

			.address-container {
				display: flex;
				flex-direction: column;
				margin-top: 7.2vh;

				.email {
					padding-bottom: 4vh;
					font-style: normal;
					font-weight: normal;
					font-size: 2.7vh;
					line-height: 160%;
					color: #FF0000;
					text-decoration: none;

					&:visited, &:focus {
						color: #FF0000;
					}
				}

				.address {
					font-style: normal;
					font-weight: normal;
					font-size: 2.7vh;
					line-height: 160%;
					color: #FFFFFF;
				}
			}
		}
	}
}