* {
	font-family: Inter, sans-serif;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.btn {
	width: 266px;
	padding: 19px 0;
	border: 4px solid red;
	background-color: transparent;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 160%;
	text-transform: uppercase;
	cursor: pointer;
	clip-path: polygon(0% 0%, 16px 0px, 16px 5px, 31px 5px, 31px 0px, 100% 0%, 100% 100%, calc(100% - 17px) 100%, calc(100% - 17px) calc(100% - 5px),  calc(100% - 35px) calc(100% - 5px), calc(100% - 35px) 100%, 0% 100%);
}

.btn-white {
	color: #FFFFFF;
}

.btn-black {
	color: #000000;
}

.products-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 32px;
	column-gap: 32px;

	.item {
		position: relative;
		display: flex;
		width: 544px;
		min-height: 232px;
		background: #F2F2F2;

		.item-name {
			padding-top: 27px;
			padding-left: 24px;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 130%;
			color: #000000;
		}

		.item-char {
			position: absolute;
			bottom: 24px;
			margin-left: 24px;

			.info-string {
				display: flex;
				justify-content: space-between;
				width: 265px;
				margin-top: 11px;
				border-bottom: 1px solid #C9C9C9;

				p {
					font-style: normal;
					font-weight: normal;
					font-size: 13px;
					line-height: 160%;
					color: #000000;
				}
			}
		}
	}
}

.slide-pagination-container {
	display: flex;

	img {
		cursor: pointer;
	}

	.slider-progress-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		.slider-progress-bar {
			width: 104px;
			height: 4px;
			margin: 0 12px;
			border: 0;
		}

		.slider-progress-text {
			padding-bottom: 10px;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 160%;
			color: #FFFFFF;
		}
	}
}

.press-article {
	position: relative;
	width: 352px;
	min-height: 407px;
	border-bottom: 1px solid #D2D2D2;

	.press-article-date {
		padding-top: 20px;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 160%;
		color: #808080;
	}

	.press-article-text {
		padding-top: 9px;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 160%;
		color: #000000;
	}
	
	.press-article-arrow {
		position: absolute;
		bottom: 16px;
		right: 0;
	}
}