* {
	font-family: Inter, sans-serif;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.btn {
	width: 21.45vw;
	padding: 2.1vh 0;
	border: 4px solid red;
	background-color: transparent;
	font-style: normal;
	font-weight: bold;
	font-size: 1.55vh;
	line-height: 160%;
	text-transform: uppercase;
	cursor: pointer;
	clip-path: polygon(0% 0%, 16px 0px, 16px 5px, 31px 5px, 31px 0px, 100% 0%, 100% 100%, calc(100% - 17px) 100%, calc(100% - 17px) calc(100% - 5px),  calc(100% - 35px) calc(100% - 5px), calc(100% - 35px) 100%, 0% 100%);
}

.btn-white {
	color: #FFFFFF;
}

.btn-black {
	color: #000000;
}

.products-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 3.55vh;
	column-gap: 3.55vh;

	.item {
		position: relative;
		display: flex;
		width: 44vw;
		min-height: 25.7vh;
		background: #F2F2F2;

		img {
			width: 25.77vh;
		}

		.item-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: inherit;
			padding: 3vh 2vw 2.66vh 2vw;

			.item-name {
				font-style: normal;
				font-weight: bold;
				font-size: 2.22vh;
				line-height: 130%;
				color: #000000;
			}

			.item-char {
				.info-string {
					display: flex;
					justify-content: space-between;
					margin-top: 1.22vh;
					border-bottom: 1px solid #C9C9C9;
	
					p {
						font-style: normal;
						font-weight: normal;
						font-size: 1.44vh;
						line-height: 160%;
						color: #000000;
					}
				}
			}
		}
	}
}

.slide-pagination-container {
	display: flex;

	img {
		width: 7.1vh;
		cursor: pointer;
	}

	.slider-progress-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		.slider-progress-bar {
			width: 8.38vw;
			height: .44vh;
			margin: 0 1vw;
			border: 0;
		}

		.slider-progress-text {
			padding-bottom: 1vh;
			font-style: normal;
			font-weight: normal;
			font-size: 1.55vh;
			line-height: 160%;
			color: #FFFFFF;
		}
	}
}

.press-articles {
	a {
		text-decoration: none;
	}
}

.press-article {
	position: relative;
	width: 28.38vw;
	min-height: 45vh;
	border-bottom: 1px solid #D2D2D2;

	.press-article-date {
		padding-top: 2.22vh;
		font-style: normal;
		font-weight: normal;
		font-size: 1.55vh;
		line-height: 160%;
		color: #808080;
	}

	.press-article-text {
		padding-top: 1vh;
		font-style: normal;
		font-weight: normal;
		font-size: 1.55vh;
		line-height: 160%;
		color: #000000;
	}

	.press-article-image {
		width: 28.38vw;
	}
	
	.press-article-arrow {
		position: absolute;
		bottom: 1.77vh;
		right: 0;
	}
}

.contragent {
	width: 17.7vh;

	.contragent-image {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 17.7vh;
		height: 17.7vh;
		background: #FFFFFF;
		box-shadow: 0px 16px 64px rgba(0, 0, 0, .04);

		img {
			width: 70%;
		}
	}

	.contragent-name {
		padding-top: 2.33vh;
		font-style: normal;
		font-weight: normal;
		font-size: 1.77vh;
		line-height: 160%;
		color: #000000;
	}
}