$mobile: 600px;

* {
	font-family: Inter, sans-serif;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.btn {
	width: 21.45vw;
	padding: 2.1vh 0;
	border: 4px solid red;
	background-color: transparent;
	font-style: normal;
	font-weight: bold;
	font-size: 1.55vh;
	line-height: 160%;
	text-transform: uppercase;
	cursor: pointer;
	clip-path: polygon(0% 0%, 16px 0px, 16px 5px, 31px 5px, 31px 0px, 100% 0%, 100% 100%, calc(100% - 17px) 100%, calc(100% - 17px) calc(100% - 5px),  calc(100% - 35px) calc(100% - 5px), calc(100% - 35px) 100%, 0% 100%);

	@media screen and (max-width: $mobile) {
		width: 87.2vw;
		padding: 3vh 0;
		font-size: 2vh;
	}
}

.btn-white {
	color: #FFFFFF;
}

.btn-black {
	color: #000000;
}

.products-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 3.55vh;
	column-gap: 3.55vh;

	@media screen and (max-width: $mobile) {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 3.6vh;
	}	

	.item {
		position: relative;
		display: flex;
		width: 44vw;
		min-height: 25.7vh;
		background: #F2F2F2;

		@media screen and (max-width: $mobile) {
			flex-direction: column;
			width: 87.2vw;
		}

		img {
			width: 25.77vh;

			@media screen and (max-width: $mobile) {
				width: 87.2vw;
			}
		}

		.item-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: inherit;
			padding: 3vh 2vw 2.66vh 2vw;

			@media screen and (max-width: $mobile) {
				padding: 3.59vh 11.7vw 3.29vh 4.8vw;
			}

			.item-name {
				font-style: normal;
				font-weight: bold;
				font-size: 2.22vh;
				line-height: 130%;
				color: #000000;

				@media screen and (max-width: $mobile) {
					font-size: 3vh;
				}
			}

			.item-char {
				.info-string {
					display: flex;
					justify-content: space-between;
					margin-top: 1.22vh;
					border-bottom: 1px solid #C9C9C9;

					@media screen and (max-width: $mobile) {
						margin-top: 1.5vh;
					}
	
					p {
						font-style: normal;
						font-weight: normal;
						font-size: 1.44vh;
						line-height: 160%;
						color: #000000;

						@media screen and (max-width: $mobile) {
							font-size: 2vh;
						}
					}
				}
			}
		}
	}

	.products-hidden {
		display: none;
	}
}

.slide-pagination-container {
	display: flex;

	img {
		width: 7.1vh;
		cursor: pointer;

		@media screen and (max-width: $mobile) {
			width: 9.59vh;
		}
	}

	.slider-progress-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		.slider-progress-bar {
			width: 8.38vw;
			height: .44vh;
			margin: 0 1vw;
			border: 0;

			@media screen and (max-width: $mobile) {
				width: 27.73vw;
				height: .6vh;
				margin: 0 3.2vw;
			}
		}

		.slider-progress-text {
			padding-bottom: 1vh;
			font-style: normal;
			font-weight: normal;
			font-size: 1.55vh;
			line-height: 160%;
			color: #FFFFFF;
			text-align: center;

			@media screen and (max-width: $mobile) {
				padding-bottom: 1.2vh;
				font-size: 2vh;
			}
		}
	}
}

.press-articles {
	a {
		text-decoration: none;
	}

	.press-hidden {
		display: none;
	}
}

.press-article {
	position: relative;
	width: 28.38vw;
	min-height: 48vh;
	border-bottom: 1px solid #D2D2D2;

	@media screen and (max-width: $mobile) {
		width: 87.2vw;
		min-height: 61vh;
	}

	.press-article-date {
		padding-top: 2.22vh;
		font-style: normal;
		font-weight: normal;
		font-size: 1.55vh;
		line-height: 160%;
		color: #808080;

		@media screen and (max-width: $mobile) {
			font-size: 2vh;
		}
	}

	.press-article-text {
		padding-top: 1vh;
		font-style: normal;
		font-weight: normal;
		font-size: 1.55vh;
		line-height: 160%;
		color: #000000;

		@media screen and (max-width: $mobile) {
			padding-top: 1.35vh;
			font-size: 2vh;
		}
	}

	.press-article-image {
		width: 28.38vw;

		@media screen and (max-width: $mobile) {
			width: 87.2vw;
		}
	}
	
	.press-article-arrow {
		position: absolute;
		bottom: 1.77vh;
		right: 0;

		@media screen and (max-width: $mobile) {
			bottom: 2.39vh;
			height: 1.35vh;
		}
	}
}

.contragent {
	width: 12.9vw;

	@media screen and (max-width: $mobile) {
		width: 42.66vw;
	}

	.contragent-image {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 12.9vw;
		height: 12.9vw;
		background: #FFFFFF;
		box-shadow: 0px 16px 64px rgba(0, 0, 0, .04);

		@media screen and (max-width: $mobile) {
			width: 42.66vw;
			height: 42.66vw;
		}

		img {
			width: 70%;
		}
	}

	.contragent-name {
		padding-top: 2.33vh;
		font-style: normal;
		font-weight: normal;
		font-size: 1.77vh;
		line-height: 160%;
		color: #000000;

		@media screen and (max-width: $mobile) {
			padding-top: 3.15vh;
			font-size: 2.4vh;
		}
	}
}

#mobile-menu {
	display: none;
	width: 100%;
	min-height: 100vh;

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 11vh;
		padding: 2.4vh 6.4vw 0 2.4vh;

		.logo-container {
			display: flex;
			align-items: center;
			text-decoration: none;

			img {
				width: 4.84vh;
				margin-right: 4vw;
			}

			span {
				font-style: normal;
				font-weight: 900;
				font-size: 2.4vh;
				line-height: 90%;
				color: #000000;
				text-transform: uppercase;
			}
		}

		.close-button {
			height: 3.6vh;
		}
	}

	.mobile-menu-container {
		.mobile-menu-item {
			padding-bottom: 3.6vh;
			text-align: center;

			a {
				font-style: normal;
				font-weight: bold;
				font-size: 3.6vh;
				line-height: 130%;
				color: #2D2D2D;	
				text-decoration: none;
				text-transform: uppercase;
				
				&:visited, &:focus {
					color: #2D2D2D;
					text-decoration: none;
				}
			}
		}
	}
}