@import "header";
@import "footer";
@import "global";

main {
	width: 1240px;
	margin: 0 auto;

	.swiper {
		.swiper-wrapper {
			#first-slider-slide-1 {
				min-height: 540px;
				background-image: url("../img/main/firstSlider/slide1.png");

				.slide-text {
					padding-top: 148px;
					padding-left: 56px;

					font-style: normal;
					font-weight: bold;
					font-size: 64px;
					line-height: 130%;
					color: #FFFFFF;
					text-transform: uppercase;
				}

				.slide-bottom-container {
					display: flex;
					justify-content: space-between;
					margin-top: 100px;
					padding: 0 60px;
				}

				.slider-progress-bar {
					background: linear-gradient(to right, #FF0000 25%, #FFFFFF 25%, #FFFFFF 75%);
				}
			}

			#first-slider-slide-2 {
				.slider-progress-bar {
					background: linear-gradient(to right, #FF0000 50%, #FFFFFF 50%, #FFFFFF 75%);
				}
			}

			#first-slider-slide-3 {
				.slider-progress-bar {
					background: linear-gradient(to right, #FF0000 75%, #FFFFFF 75%, #FFFFFF 75%);
				}
			}

			#first-slider-slide-4 {
				.slider-progress-bar {
					background: #FF0000;
				}
			}
		}
	}

	.slide-pagination-container {
		display: flex;

		img {
			cursor: pointer;
		}

		.slider-progress-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;

			.slider-progress-bar {
				width: 104px;
				height: 4px;
				margin: 0 12px;
				border: 0;
			}

			.slider-progress-text {
				padding-bottom: 10px;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 160%;
				color: #FFFFFF;
			}
		}
	}

	.block-title-container {
		display: flex;
		align-items: center;
		padding-top: 128px;
		padding-left: 61px;

		.block-title-number {
			font-style: normal;
			font-weight: 900;
			font-size: 18px;
			line-height: 160%;
			color: #FF0000;
		}

		.block-title-hr {
			width: 48px;
			height: 4px;
			margin-left: 9px;
			margin-right: 30px;
			border: 0;
			background-color: #FF0000;
		}

		.block-title {
			font-style: normal;
			font-weight: bold;
			font-size: 60px;
			line-height: 130%;
			text-transform: uppercase;
		}
	}

	.about-container {
		width: 100%;
		min-height: 1100px;
		background: #EAEAEA;
		background-image: url("../img/main/about/bg.png");
		background-position: 100% 0;
		background-repeat: no-repeat;

		.left-container {
			float: left;
			margin-top: 45px;
			margin-left: 161px;

			h2 {
				width: 503px;
				font-style: normal;
				font-weight: bold;
				font-size: 20px;
				line-height: 160%;
				color: #000000;
				text-transform: uppercase;
			}

			.text-container {
				display: flex;
				align-items: flex-start;
				margin-top: 42px;

				img {
					margin-top: 5px;
				}

				.text-with-marker {
					width: 368px;
					margin-left: 73px;	
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 160%;
					color: #000000;
				}
			}

			button {
				margin-top: 51px;
				margin-left: 97px;
			}
		}

		.right-container {
			float: right;
			margin-top: 38px;
			margin-right: 60px;
		}
	}
}