@import "header";
@import "footer";
@import "global";

main {
	width: 1240px;
	margin: 0 auto;

	.first-swiper {
		.swiper-wrapper {
			#first-slider-slide-1 {
				min-height: 540px;
				background-image: url("../img/main/firstSlider/slide1.png");

				.slide-text {
					padding-top: 148px;
					padding-left: 56px;

					font-style: normal;
					font-weight: bold;
					font-size: 64px;
					line-height: 130%;
					color: #FFFFFF;
					text-transform: uppercase;
				}

				.slide-bottom-container {
					display: flex;
					justify-content: space-between;
					margin-top: 100px;
					padding: 0 60px;
				}

				.slider-progress-bar {
					background: linear-gradient(to right, #FF0000 25%, #FFFFFF 25%, #FFFFFF 75%);
				}
			}

			#first-slider-slide-2 {
				.slider-progress-bar {
					background: linear-gradient(to right, #FF0000 50%, #FFFFFF 50%, #FFFFFF 75%);
				}
			}

			#first-slider-slide-3 {
				.slider-progress-bar {
					background: linear-gradient(to right, #FF0000 75%, #FFFFFF 75%, #FFFFFF 75%);
				}
			}

			#first-slider-slide-4 {
				.slider-progress-bar {
					background: #FF0000;
				}
			}
		}
	}

	.slide-pagination-container {
		display: flex;

		img {
			cursor: pointer;
		}

		.slider-progress-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;

			.slider-progress-bar {
				width: 104px;
				height: 4px;
				margin: 0 12px;
				border: 0;
			}

			.slider-progress-text {
				padding-bottom: 10px;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 160%;
				color: #FFFFFF;
			}
		}
	}

	.block-title-container {
		display: flex;
		align-items: center;
		padding-top: 128px;
		padding-left: 61px;

		.block-title-number {
			font-style: normal;
			font-weight: 900;
			font-size: 18px;
			line-height: 160%;
			color: #FF0000;
		}

		.block-title-hr {
			width: 48px;
			height: 4px;
			margin-left: 9px;
			margin-right: 30px;
			border: 0;
			background-color: #FF0000;
		}

		.block-title {
			font-style: normal;
			font-weight: bold;
			font-size: 60px;
			line-height: 130%;
			text-transform: uppercase;
		}
	}

	.about-container {
		width: 100%;
		min-height: 1100px;
		background: #EAEAEA;
		background-image: url("../img/main/about/bg.png");
		background-position: 100% 0;
		background-repeat: no-repeat;

		.left-container {
			float: left;
			margin-top: 45px;
			margin-left: 161px;

			h2 {
				width: 503px;
				font-style: normal;
				font-weight: bold;
				font-size: 20px;
				line-height: 160%;
				color: #000000;
				text-transform: uppercase;
			}

			.text-container {
				display: flex;
				align-items: flex-start;
				margin-top: 42px;

				img {
					margin-top: 5px;
				}

				.text-with-marker {
					width: 368px;
					margin-left: 73px;	
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 160%;
					color: #000000;
				}
			}

			button {
				margin-top: 51px;
				margin-left: 97px;
			}
		}

		.right-container {
			float: right;
			margin-top: 38px;
			margin-right: 60px;
		}
	}

	.gallery-container {
		min-height: 960px;
		background: #2A2A2A;

		.block-title-container {
			display: flex;
			align-items: center;
			padding-top: 104px;
			padding-left: 61px;
	
			.block-title-number {
				font-style: normal;
				font-weight: 900;
				font-size: 18px;
				line-height: 160%;
				color: #FF0000;
			}
	
			.block-title-hr {
				width: 48px;
				height: 4px;
				margin-left: 9px;
				margin-right: 30px;
				border: 0;
				background-color: #FF0000;
			}
	
			.block-title {
				font-style: normal;
				font-weight: bold;
				font-size: 60px;
				line-height: 130%;
				color: #FFFFFF;
				text-transform: uppercase;
			}
		}

		.second-swiper {
			width: 100%;
			height: 500px;
			margin-top: 61px;
	
			.swiper-wrapper {
				.swiper-slide {
					position: relative;
					width: 500px;
					height: 500px;

					p {
						position: absolute;
						bottom: 28px;
						padding: 0 43px;

						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 160%;
						color: #FFFFFF;
					}
				}
	
				#second-slider-slide-1 {
					background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, #000000 100%), url("../img/main/secondSlider/secondslide1.png");
				}
	
				#second-slider-slide-2 {
					background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, #000000 100%), url("../img/main/secondSlider/secondslide2.png");
				}
	
				#second-slider-slide-3 {
					background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, #000000 100%), url("../img/main/secondSlider/secondslide3.png");
				}
	
				#second-slider-slide-4 {
					background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, #000000 100%), url("../img/main/secondSlider/secondslide4.png");
				}
			}
		}

		.second-slider-pagination-container {
			justify-content: center;
			margin-top: 32px;
			
			.slider-progress-container {
				#second-slider-progress-bar {
					background: linear-gradient(to right, #FF0000 25%, #FFFFFF 25%, #FFFFFF 75%);
				}

				.second-slider-progress-text {
					text-align: center;
				}
			}
		}
	}

	.competence-container {
		min-height: 1072px;
		background: #F4F4F4;

		.competence {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-top: 50px;
			padding: 0 60px;

			.left {
				width: 544px;
				background: #FF0000;
				box-shadow: 0px 4px 40px rgba(0, 0, 0, .08);

				h4 {
					padding: 45px;
					font-style: normal;
					font-weight: bold;
					font-size: 32px;
					line-height: 130%;
					color: #FFFFFF;
				}
			}
	
			.right {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				row-gap: 32px;
				column-gap: 32px;

				.item {
					position: relative;
					min-width: 256px;
					min-height: 256px;

					background: #FFFFFF;
					box-shadow: 0px 16px 80px rgba(0, 0, 0, .06);

					img {
						&:nth-child(1) {
							margin-top: 22px;
							margin-left: 28px;
						}

						&:nth-child(2) {
							margin-top: 24px;
							margin-left: 23px;
						}

						&:nth-child(3) {
							margin-top: 21px;
							margin-left: 23px;
						}

						&:nth-child(4) {
							margin-top: 26px;
							margin-left: 24px;
						}
					}

					p {
						position: absolute;
						bottom: 20px;
						left: 27px;

						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 160%;
						color: #000000;
						text-transform: uppercase;
					}
				}
			}
		}
		
		.btn-container {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-top: 83px;
		}
	}

	.products-container {
		min-height: 1034px;

		.items {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			row-gap: 32px;
			margin-top: 68px;
			padding: 0 60px;
			column-gap: 32px;

			.item {
				position: relative;
				display: flex;
				width: 544px;
				min-height: 232px;
				background: #F2F2F2;

				.item-name {
					padding-top: 27px;
					padding-left: 24px;
					font-style: normal;
					font-weight: bold;
					font-size: 20px;
					line-height: 130%;
					color: #000000;
				}

				.item-char {
					position: absolute;
					bottom: 24px;
					margin-left: 24px;

					.info-string {
						display: flex;
						justify-content: space-between;
						width: 265px;
						margin-top: 11px;
						border-bottom: 1px solid #C9C9C9;

						p {
							font-style: normal;
							font-weight: normal;
							font-size: 13px;
							line-height: 160%;
							color: #000000;
						}
					}
				}
			}
		}

		.btn-container {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-top: 83px;
		}
	}

	.advantages-container {
		min-height: 1088px;
		background: url("../img/main/advantages/bg.png");
		.block-title {
			color: #FFFFFF;
		}

		.advantages {
			position: relative;
			padding: 0 60px;

			.container {  
				display: grid;
				grid-template-columns: 1fr 8px 1fr;
				grid-template-rows: 1fr 8px 1fr;
				gap: 0px 0px;
				grid-auto-flow: row;
				grid-template-areas:
				  "text1 line1 text2"
				  "line2 dot line3"
				  "text3 line4 text4";
				margin-top: 57px;

				.text1 {
					padding: 20px 98px 80px 101px;
					grid-area: text1;
				}
	
				.line1 {
					display: flex;
					justify-content: flex-start;
					flex-direction: column;
					grid-area: line1;
					align-items: center;
				}
				
				.text2 {
					padding: 20px 85px 80px 114px;
					grid-area: text2; 
				}
				
				.text3 {
					padding: 75px 98px 40px 101px;
					grid-area: text3;
				}
				
				.line2 {
					display: flex;
					justify-content: flex-start;
					grid-area: line2;
					align-items: center;
				}
				
				.dot {
					grid-area: dot;
				}
				
				.line3 {
					display: flex;
					justify-content: flex-end;
					grid-area: line3;
					align-items: center;
				}
				
				.line4 {
					display: flex;
					justify-content: flex-end;
					flex-direction: column;
					grid-area: line4;
					align-items: center;
				}
				
				.text4 {
					padding: 75px 85px 40px 114px;
					grid-area: text4;
				}
	
				#horizontal1, #horizontal2 {
					width: 448px;
					height: 4px;
				}
	
	
				#vertical1, #vertical2 {
					width: 4px;
					height: 280px;
				}
	
				.dot {
					width: 8px;
					height: 8px;
					background-color: #FF0000;
				}
	
				.text-header {
					padding-bottom: 22px;
					font-style: normal;
					font-weight: bold;
					font-size: 25px;
					line-height: 130%;
					color: #FFFFFF;
				}
	
				.text {
					width: 363px;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 160%;
					color: #FFFFFF;
				}
			}
		}
	}
}