@import "global";
@import "header";
@import "footer";

main {
	width: 100%;
	margin: 0 auto;

	.first-swiper {
		.swiper-wrapper {
			.swiper-slide {
				min-height: 60vh;
				background-image: url("../img/main/firstSlider/slide1.png");
				background-size: cover;

				@media screen and (max-width: $mobile) {
					min-height: 100vh;
				}

				.slide-text {
					padding-top: 16vh;
					padding-left: 4.5vw;
					padding-right: 4.5vw;

					font-style: normal;
					font-weight: bold;
					font-size: 7vh;
					line-height: 130%;
					color: #FFFFFF;
					text-transform: uppercase;

					@media screen and (max-width: $mobile) {
						max-width: 72vw;
						padding-top: 16.94vh;
						padding-left: 16.26vw;
						padding-right: 0;
						font-size: 4.8vh;
					}
				}

				.slide-bottom-container {
					display: flex;
					justify-content: space-between;
					margin-top: 11vh;
					padding: 0 4.84vw;
					padding-bottom: 6.88vh;

					@media screen and (max-width: $mobile) {
						flex-direction: column;
						align-items: center;
						margin-top: 20vh;
					}

					.btn {
						@media screen and (max-width: $mobile) {
							width: 68vw;
							margin-bottom: 6.89vh;
						}
					}
				}

				// .slider-progress-bar {
				// 	background: linear-gradient(to right, #FF0000 25%, #FFFFFF 25%, #FFFFFF 75%);
				// }
			}

			// #first-slider-slide-2 {
			// 	.slider-progress-bar {
			// 		background: linear-gradient(to right, #FF0000 50%, #FFFFFF 50%, #FFFFFF 75%);
			// 	}
			// }

			// #first-slider-slide-3 {
			// 	.slider-progress-bar {
			// 		background: linear-gradient(to right, #FF0000 75%, #FFFFFF 75%, #FFFFFF 75%);
			// 	}
			// }

			// #first-slider-slide-4 {
			// 	.slider-progress-bar {
			// 		background: #FF0000;
			// 	}
			// }
		}
	}

	.block-title-container {
		display: flex;
		align-items: center;
		padding-top: 14vh;
		padding-left: 5vw;

		@media screen and (max-width: $mobile) {
			flex-direction: column;
			align-items: start;
			padding-top: 8.54vh;
			padding-left: 6.4vw;
		}

		.block-title-pagination {
			display: flex;
			align-items: center;

			.block-title-number {
				font-style: normal;
				font-weight: 900;
				font-size: 2vh;
				line-height: 160%;
				color: #FF0000;

				@media screen and (max-width: $mobile) {
					font-size: 2.7vh;
				}
			}

			.block-title-hr {
				width: 3.87vw;
				height: 4px;
				margin-left: .72vw;
				margin-right: 2.4vw;
				border: 0;
				background-color: #FF0000;

				@media screen and (max-width: $mobile) {
					width: 12.8vw;
					margin-left: 2.4vw;
					margin-right: 0;
				}
			}
		}

		.block-title {
			font-style: normal;
			font-weight: bold;
			font-size: 6.66vh;
			line-height: 130%;
			text-transform: uppercase;

			@media screen and (max-width: $mobile) {
				font-size: 6vh;
			}
		}
	}

	.about-container {
		width: 100%;
		background: #EAEAEA;
		background-image: url("../img/main/about/aboutbg.png");
		background-position: 100% 0;
		background-repeat: no-repeat;

		@media screen and (max-width: $mobile) {
			background-image: none;
		}

		.content-container {
			display: flex;
			justify-content: space-between;

			@media screen and (max-width: $mobile) {
				flex-direction: column;
			}

			.left-container {
				margin-top: 5vh;
				margin-bottom: 13vh;
				margin-left: 13vw;

				@media screen and (max-width: $mobile) {
					margin-top: 4.64vh;
					margin-left: 6.4vw;
				}
				
				h2 {
					width: 41vw;
					font-style: normal;
					font-weight: bold;
					font-size: 2.22vh;
					line-height: 160%;
					color: #000000;
					text-transform: uppercase;

					@media screen and (max-width: $mobile) {
						width: 87.2vw;
						font-size: 2vh;
					}
				}

				.mobile-img {
					display: none;

					@media screen and (max-width: $mobile) {
						display: block;
						width: 87.2vw;
						margin-top: 5.5vh;
					}
				}
	
				.text-container {
					display: flex;
					align-items: flex-start;
					margin-top: 4.66vh;

					@media screen and (max-width: $mobile) {
						flex-direction: column;
						margin-top: 6.44vh;
					}
	
					img {
						margin-top: .55vh;

						@media screen and (max-width: $mobile) {
							margin-top: 0;
						}
					}
	
					.text-with-marker {
						width: 30vw;
						margin-left: 5.88vw;	
						font-style: normal;
						font-weight: normal;
						font-size: 2vh;
						line-height: 160%;
						color: #000000;

						@media screen and (max-width: $mobile) {
							width: 87.2vw;
							margin-left: 0;
							padding-top: 3.44vh;
						}
					}
				}
	
				button {
					margin-top: 5.54vh;
				}
			}
	
			.right-container {
				margin-top: 4.22vh;
				margin-right: 4.83vw;

				img {
					width: 38vw;
				}

				@media screen and (max-width: $mobile) {
					display: none;
				}
			}
		}
	}

	.gallery-container {
		background: #2A2A2A;

		.block-title-container {
			padding-top: 11.55vh;
	
			.block-title {
				color: #FFFFFF;
			}
		}

		.second-swiper {
			width: 100%;
			height: 60.7vh;
			margin-top: 6.77vh;

			@media screen and (max-width: $mobile) {
				margin-top: 6.44vh;
			}
	
			.swiper-wrapper {
				.swiper-slide {
					position: relative;
					width: 55vh;
					height: 55vh;
					background-size: cover;

					@media screen and (max-width: $mobile) {
						width: 87.2vw;
						height: 60.7vh;
					}

					p {
						position: absolute;
						bottom: 3.11vh;
						padding: 0 3.47vw;

						font-style: normal;
						font-weight: normal;
						font-size: 1.77vh;
						line-height: 160%;
						color: #FFFFFF;

						@media screen and (max-width: $mobile) {
							bottom: 3.9vh;
							padding: 0 7.73vw;
							font-size: 2.4vh;
						}
					}
				}
	
				#second-slider-slide-1 {
					background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, #000000 100%), url("../img/main/secondSlider/secondslide1.png");
				}
	
				#second-slider-slide-2 {
					background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, #000000 100%), url("../img/main/secondSlider/secondslide2.png");
				}
	
				#second-slider-slide-3 {
					background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, #000000 100%), url("../img/main/secondSlider/secondslide3.png");
				}
	
				#second-slider-slide-4 {
					background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 64%, #000000 100%), url("../img/main/secondSlider/secondslide4.png");
				}
			}
		}

		.second-slider-pagination-container {
			justify-content: center;
			margin-top: 3.55vh;
			padding-bottom: 13.4vh;

			@media screen and (max-width: $mobile) {
				margin-top: 7.79vh;
				padding-bottom: 8.4vh;
			}
			
			.slider-progress-container {
				#second-slider-progress-bar {
					background: linear-gradient(to right, #FF0000 25%, #FFFFFF 25%, #FFFFFF 75%);
				}

				.second-slider-progress-text {
					text-align: center;
				}
			}
		}
	}

	.competence-container {
		background: #F4F4F4;

		.competence {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-top: 5.55vh;
			padding: 0 4.83vw;

			@media screen and (max-width: $mobile) {
				display: flex;
				flex-direction: column;
				margin-top: 5.09vh;
				padding: 0 6.4vw;
			}

			.left {
				width: 44vw;
				background: #FF0000;
				box-shadow: 0px 4px 40px rgba(0, 0, 0, .08);

				@media screen and (max-width: $mobile) {
					width: 87.2vw;
				}

				h4 {
					padding: 5vh;
					font-style: normal;
					font-weight: bold;
					font-size: 3.55vh;
					line-height: 130%;
					color: #FFFFFF;

					@media screen and (max-width: $mobile) {
						padding: 9vw;
					}
				}

				.img {
					width: 44vw;
					height: 32vh;
					background-image: url("../img/main/competence/competence_image.png");
					background-position: center;
					background-size: cover;

					@media screen and (max-width: $mobile) {
						width: 87.2vw;
						height: 41vh;
					}
				}
			}
	
			.right {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				row-gap: 3.55vh;
				column-gap: 3.55vh;

				@media screen and (max-width: $mobile) {
					row-gap: 1.05vh;
					margin-top: 1.05vh;
					column-gap: 1.05vh;
				}

				.item {
					position: relative;
					min-width: 28vh;
					min-height: 28vh;

					background: #FFFFFF;
					box-shadow: 0px 16px 80px rgba(0, 0, 0, .06);

					@media screen and (max-width: $mobile) {
						width: 42.6vw;
						min-width: unset;
						min-height: 31.48vh;
					}

					img {
						width: 6.77vh;
						margin-top: 2.55vh;
						margin-left: 2vw;

						@media screen and (max-width: $mobile) {
							width: 7.5vh;
						}
					}

					p {
						position: absolute;
						bottom: 2.22vh;
						padding: 0 2.2vw;

						font-style: normal;
						font-weight: bold;
						font-size: 1.55vh;
						line-height: 160%;
						color: #000000;
						text-transform: uppercase;

						@media screen and (max-width: $mobile) {
							bottom: 1.5vh;
							padding: 0 3.73vw;
							font-size: 1.65vh;
						}
					}
				}
			}
		}
		
		.btn-container {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-top: 9vh;
			padding-bottom: 12.88vh;

			@media screen and (max-width: $mobile) {
				margin-top: 4.64vh;
				padding-bottom: 14vh;
			}
		}
	}

	.products-container {
		.products-items {
			margin-top: 7.6vh;
			padding: 0 4.83vw;

			@media screen and (max-width: $mobile) {
				margin-top: 7.94vh;
				padding: 0 6.4vw;
			}
		}

		.btn-container {
			display: flex;
			justify-content: center;
			width: 100%;
			padding-top: 9.22vh;
			padding-bottom: 12.2vh;

			@media screen and (max-width: $mobile) {
				padding-top: 8.84vh;
				padding-bottom: 10.79vh;
			}
		}
	}

	.advantages-container {
		padding-bottom: 16.33vh;
		background: url("../img/main/advantages/abg.png");
		background-size: cover;

		@media screen and (max-width: $mobile) {
			padding-bottom: 4vh;
		}

		.block-title {
			color: #FFFFFF;
		}

		.advantages {
			position: relative;
			padding: 0 4.83vw;

			@media screen and (max-width: $mobile) {
				padding: 0 6.4vw;
			}

			.container {  
				display: grid;
				grid-template-areas: "text1 line1 text2" "line2 dot line3" "text3 line4 text4";
				grid-template-rows: 1fr 8px 1fr;
				grid-template-columns: 1fr 8px 1fr;
				grid-auto-flow: row;
				gap: 0px 0px;
				margin-top: 6.33vh;

				@media screen and (max-width: $mobile) {
					display: flex;
					flex-direction: column;
					margin-top: 6.14vh;
				}

				.flex-line {
					display: none;
					width: 87.2vw;
					height: 4px;

					@media screen and (max-width: $mobile) {
						display: block;
					}
				}

				.text1 {
					grid-area: text1;
					padding-top: 2.22vh;
					padding-left: 8.06vw;

					@media screen and (max-width: $mobile) {
						padding: 0;
					}
				}
	
				.line1 {
					display: flex;
					flex-direction: column;
					grid-area: line1;
					align-items: center;
					justify-content: flex-start;

					@media screen and (max-width: $mobile) {
						display: none;
					}
				}
				
				.text2 {
					grid-area: text2;
					padding-top: 2.22vh;
					padding-left: 8.06vw;

					@media screen and (max-width: $mobile) {
						padding: 0;
						padding-top: 6vh;
					}
				}
				
				.text3 {
					grid-area: text3;
					padding-top: 8.33vh;
					padding-left: 8.06vw;

					@media screen and (max-width: $mobile) {
						padding: 0;
						padding-top: 6vh;
					}
				}
				
				.line2 {
					display: flex;
					grid-area: line2;
					align-items: center;
					justify-content: flex-start;

					@media screen and (max-width: $mobile) {
						display: none;
					}
				}
				
				.dot {
					grid-area: dot;

					@media screen and (max-width: $mobile) {
						display: none;
					}
				}
				
				.line3 {
					display: flex;
					grid-area: line3;
					align-items: center;
					justify-content: flex-end;

					@media screen and (max-width: $mobile) {
						display: none;
					}
				}
				
				.line4 {
					display: flex;
					flex-direction: column;
					grid-area: line4;
					align-items: center;
					justify-content: flex-end;

					@media screen and (max-width: $mobile) {
						display: none;
					}
				}
				
				.text4 {
					grid-area: text4;
					padding-top: 8.33vh;
					padding-left: 8.06vw;

					@media screen and (max-width: $mobile) {
						padding: 0;
						padding-top: 6vh;
					}
				}
	
				#horizontal1, #horizontal2 {
					width: 36vw;
					height: 4px;
				}
	
	
				#vertical1, #vertical2 {
					width: 4px;
					height: 31vh;
				}
	
				.dot {
					width: 8px;
					height: 8px;
					background-color: #FF0000;
				}
	
				.text-header {
					padding-bottom: 2.44vh;
					font-style: normal;
					font-weight: bold;
					font-size: 2.77vh;
					line-height: 130%;
					color: #FFFFFF;

					@media screen and (max-width: $mobile) {
						padding-bottom: 2.84vh;
						font-size: 3.7vh;
					}
				}
	
				.text {
					width: 29.27vw;
					font-style: normal;
					font-weight: normal;
					font-size: 2vh;
					line-height: 160%;
					color: #FFFFFF;

					@media screen and (max-width: $mobile) {
						width: 77vw;
						padding-bottom: 6.59vh;
						font-size: 2.39vh;
					}
				}
			}
		}
	}

	.contragents-container {
		padding-bottom: 14vh;
		background: #F4F4F4;

		@media screen and (max-width: $mobile) {
			padding-bottom: 12vh;
		}

		.first-line {
			display: flex;
			justify-content: space-between;
			margin-top: 6vh;
			padding: 0 4.83vw 0 13vw;

			@media screen and (max-width: $mobile) {
				flex-direction: column;
				margin-top: 4.8vh;
				padding: 0 6.4vw;
			}

			.left {
				p {
					width: 32.7vw;
					font-style: normal;
					font-weight: bold;
					font-size: 2.22vh;
					line-height: 160%;
					color: #000000;
					text-transform: uppercase;

					@media screen and (max-width: $mobile) {
						width: 87.2vw;
						font-size: 2vh;
					}
				}
			}

			.right {
				display: flex;
				justify-content: space-between;
				width: 43.87vw;
				margin-top: 1vh;

				@media screen and (max-width: $mobile) {
					display: none;
				}
			}
		}

		.second-line {
			display: flex;
			justify-content: space-between;
			margin-top: 5.22vh;
			padding: 0 4.83vw;

			@media screen and (max-width: $mobile) {
				display: none;
			}

			.left {
				display: flex;
				justify-content: space-between;
				width: 60vw;
			}

			.right {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-top: 14.7vh;
				
				#line1 {
					width: 3.62vw;
					height: .66vh;
					margin-bottom: 1.55vh;
					border: 0;
					background: #FF0000;
				}

				#line2 {
					width: 7vw;
					height: .66vh;
					border: 0;
					background: #FF0000;
				}
			}
		}

		.mobile-contragents-slider {
			display: none;
			margin-top: 7.2vh;

			@media screen and (max-width: $mobile) {
				display: block;
			}
		}

		.lines-mobile {
			display: none;
			flex-direction: column;
			align-items: flex-end;

			margin-top: 8.4vh;
			margin-right: 6.4vw;

			@media screen and (max-width: $mobile) {
				display: flex;
			}

			#line1 {
				width: 12vw;
				height: .9vh;
				margin-bottom: 1.55vh;
				border: 0;
				background: #FF0000;
			}

			#line2 {
				width: 23.2vw;
				height: .9vh;
				border: 0;
				background: #FF0000;
			}
		}
	}

	.press-container {
		padding-bottom: 13.22vh;

		@media screen and (max-width: $mobile) {
			padding-bottom: 7.2vh;
		}

		.third-swiper {
			overflow-x: hidden;
			width: calc(100% - 9.66vw);
			margin: 0 auto;
			margin-top: 7.33vh;

			@media screen and (max-width: $mobile) {
				width: 87.2vw;
			}
			
			.swiper-wrapper {
				a {
					text-decoration: none;
					
					.swiper-slide {
						position: relative;
						width: 28.38vw;
						min-height: 45vh;

						@media screen and (max-width: $mobile) {
							width: 87.2vw;
							min-height: 61vh;
						}
					}
				}
				
			}
		}

		.third-slider-pagination-container {
			justify-content: center;
			margin-top: 6.66vh;

			@media screen and (max-width: $mobile) {
				margin-top: 7.19evh;
			}
			
			.slider-progress-container {
				#third-slider-progress-bar {
					background: linear-gradient(to right, #FF0000 25%, #000000 25%, #000000 75%);
				}

				.third-slider-progress-text {
					color: #000000;
					text-align: center;
				}
			}
		}
	}
}