@import "header";
@import "footer";
@import "global";

main {
	.press-container {
		width: 100%;
		margin: 0 auto;
		padding: 0 4.83vw;

		.press-header {
			padding-top: 10.33vh;
			font-style: normal;
			font-weight: bold;
			font-size: 6.66vh;
			line-height: 130%;
			color: #000000;
			text-transform: uppercase;
		}

		.press-articles {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			row-gap: 3.87vw;
			margin-top: 9.77vh;
			column-gap: 3.55vh;
		}

		.button-container {
			display: flex;
			justify-content: center;
			margin-top: 9.66vh;
			margin-bottom: 14.44vh;
		}
	}
}