@import "global";
@import "header";
@import "footer";

main {
	.products-header-container {
		width: 100%;
		margin: 0 auto;
		padding: 0 4.83vw;
		background: url("../img/products/products1bg.png");
		background-position: center;
		background-size: cover;

		@media screen and (max-width: $mobile) {
			padding: 0 6.4vw;
		}

		h1 {
			padding-top: 10.66vh;
			padding-bottom: 5.11vh;
			font-style: normal;
			font-weight: bold;
			font-size: 6.66vh;
			line-height: 130%;
			color: #FFFFFF;
			text-transform: uppercase;

			@media screen and (max-width: $mobile) {
				padding-top: 9.6vh;
				padding-bottom: 3.6vh;
				font-size: 7.2vh;
			}
		}

		p {
			width: 59.43vw;
			padding-bottom: 8.88vh;
			font-style: normal;
			font-weight: bold;
			font-size: 2.22vh;
			line-height: 160%;
			color: #FFFFFF;
			text-transform: uppercase;

			@media screen and (max-width: $mobile) {
				width: 100%;
				padding-bottom: 16vh;
				font-size: 2vh;
			}
		}
	}

	.spheres-container {
		width: 100%;
		margin: 0 auto;
		padding: 0 4.83vw;
		padding-bottom: 5.44vh;

		@media screen and (max-width: $mobile) {
			padding: 0 6.4vw;
			padding-bottom: 4vh;
		}

		h2 {
			padding-top: 10.66vh;
			padding-bottom: 3.33vh;
			font-style: normal;
			font-weight: bold;
			font-size: 5.33vh;
			line-height: 130%;
			color: #000000;

			@media screen and (max-width: $mobile) {
				padding-top: 9.6vh;
				padding-bottom: 3.6vh;
				font-size: 6vh;
			}
		}

		.text {
			font-style: normal;
			font-weight: normal;
			font-size: 2vh;
			line-height: 160%;
			color: #000000;

			@media screen and (max-width: $mobile) {
				font-size: 2.7vh;
			}
		}

		.items {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			row-gap: 6.4vw;
			margin-top: 7.55vh;

			.item {
				width: 20.64vw;
				min-height: 23.33vh;
				background: #F0F0F0;

				@media screen and (max-width: $mobile) {
					display: flex;
					align-items: center;
					width: 87.2vw;
					min-height: 0;
					padding: 6.4vw;
				}

				img {
					width: 10.5vh;
					margin-top: 1.77vh;
					margin-left: 1.45vw;

					@media screen and (max-width: $mobile) {
						width: 21.33vw;
						margin: 0;
						margin-right: 6.4vw;
					}
				}

				p {
					padding-top: 5.88vh;
					padding-bottom: 2.22vh;
					padding-left: 1.85vw;
					font-style: normal;
					font-weight: bold;
					font-size: 2.22vmin;
					line-height: 130%;
					color: #000000;

					@media screen and (max-width: $mobile) {
						padding: 0;
						font-size: 3vh;
					}
				}
			}
		}
	}

	.products-container {
		width: 100%;
		margin: 0 auto;

		.products {
			width: calc(100% - 9.66vw);
			margin: 0 auto;
			margin-top: 5vh;
			border-top: 1px solid #A4A4A4;

			@media screen and (max-width: $mobile) {
				width: 87.2vw;
			}

			h2 {
				padding-top: 9vh;
				font-style: normal;
				font-weight: bold;
				font-size: 5.33vh;
				line-height: 130%;
				color: #000000;

				@media screen and (max-width: $mobile) {
					padding-top: 9.6vh;
					padding-bottom: 3.6vh;
					font-size: 6vh;
				}
			}

			.text {
				width: 67.58vw;
				padding-top: 26px;
				font-style: normal;
				font-weight: normal;
				font-size: 2vh;
				line-height: 160%;
				color: #000000;

				@media screen and (max-width: $mobile) {
					width: 100%;
					padding-top: 0;
				}
			}

			.products-items {
				margin-top: 7.77vh;

				@media screen and (max-width: $mobile) {
					margin-top: 7.2vh;
				}
			}

			.show-more-container {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 7vh;
				padding-bottom: 10.77vh;
				cursor: pointer;

				@media screen and (max-width: $mobile) {
					margin-top: 6vh;
					padding-bottom: 18vh;
				}
				
				p {
					padding-left: 1.29vh;
					font-style: normal;
					font-weight: bold;
					font-size: 1.55vh;
					line-height: 160%;
					color: #000000;
					text-transform: uppercase;

					@media screen and (max-width: $mobile) {
						padding-left: 4.2vh;
						font-size: 2vh;
					}
				}

				img {
					height: 3.22vh;

					@media screen and (max-width: $mobile) {
						height: 4.34vh;
					}
				}
			}
		}
	}
}